
.mroom,#game{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}
#game{
    z-index: 10;
    overflow-y: scroll;
    font-family: cursive;
}
.mroom .mbox{
    padding: 0px;
    display: block;
}
.mroom .mbox .box{
    padding: 10px;
    border: 1px solid white;
}
.mroom .box .radiocj{
    display: flex;
}
.mroom .box .radiocj .ele{
    padding: 10px;
    flex-grow: 1;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    color: brown;
}
#game .box{
    margin: 40px 0px;
    text-align: center;
}
#game .mbox{
    display: block;
    margin: auto;
}
.box .eleflex{
    display: flex;
}
.box .eles{
    margin: 2px;
    padding: 4px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background: #00f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .btns{
    flex-grow: 1;
}
.box h2{
    padding: 10px;
    text-align: center;
    margin-bottom: 80px;
    font-size: 5rem;
    color: rgba(255,255,255,0.7);
    font-family: cursive;
}
.box h2::after{
    content: "Bingo";
    position: absolute;
    color: brown;
    transform: translate(-98%,2%);
}
.box .btns button{
    padding: 10px;
    border-radius: 10px;
    color: brown;
}
.box .eles .absele{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}
.box .eles .strike{
    height: 60px;
    width: 4px;
    transform: rotate(30deg);
    background: red;
    position: absolute;
}
.box .eles.m{
    margin-bottom: 8px;
    color: brown;
}
.box .turn{
    font-size: 2rem;
    color: #f00;
}
.box .turn .cg{
    color: #0f0;
}
.mroom .ele{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    color: brown;
}
.mroom .box .radiocj .ele.act{
    background:  rgba(125,17,17,0.5);
    color: white;
}
.mroom .box input,.mroom input{
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
.box .chat .chatele .cname{
    text-align: left;
    opacity: 0.8;
    font-size: 1rem;
    color: brown;
}
.box .chat .chatele .cname.m{
    text-align: right;
}
.box .chat .chatele .msg{
    text-align: left;
    font-size: 1.2rem;
    margin-left: 20px;
}
.box .chat .chatele .msg.m{
    text-align: right;
    margin-right: 20px;
}
.box .chat .chatele{
    height: 140px;
    overflow-y: scroll;
}
.box .chat .msghead{
    border-top: 2px solid rgba(125,17,17,0.8);
    font-size: 2rem;
    color: brown;
    padding: 8px;
}
.box .chat .send{
    display: flex;
}
.box .chat .send input{
    flex-grow: 1;
    padding: 10px;
    border-radius: 15px;
}
.box .chat .send button{
    padding: 10px;
    border-radius: 10px;
    color: brown;
}
#content{
    padding: 40px;
    display: block;
}
#waiting .box{
    border-color: transparent;
}
#waitingq{
    padding: 80px;
    font-size: 2.5rem;
    border: 2px solid #00f;
    border-radius: 50%;
    margin: 20px;
    color: brown;
}
#content .btflex button,.mroom button{
    padding: 10px;
    display: block;
    border-radius: 12px;
    color: brown;
}
#content .btflex{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content .btflex .next{
    flex-grow: 1;
    color: transparent;
}
.mroom #playername{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 1.4px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: brown;
    font-size: 1.5rem;
}
#fscreen{
    z-index: -100;
}
.flexbb{
    display: flex;
}
.flexbb .result{
    padding: 20px;
    font-size: 2rem;
}
.flexbb .result.m{
    color: #00f;
}
.fbtn{
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

.box .eles.m .absele{
    color: brown;
    font-family: cursive;
}
.nofm{
    color: brown;
    font-family: cursive;
    text-align: center;
    font-size: 1.5rem;
}
.box .eles.m .absele .str{
    position: absolute;
    width: 5px;
    height: 50px;
    background: red;
    transform: rotate(45deg);
}
.gameover{
    text-align: center;
    font-size: 3rem;
    color: red;
}
.noofp{
    width: 55px;
    height: 55px;
    border: 2px solid rgba(255,255,255,0.7);
    margin: 0px 10px;
    font-size: 1.5rem;
}
#content .btflex .noofp.act{
    background: brown;
    color: #0f0;
    font-weight: bold;
    font-size: 2.1rem;
}