.game-over button {
    font-weight: bold;
    color: rgb(104, 34, 34);
    height: 2rem;
    width: auto;
    background-color: rgb(238, 145, 79);
    border-radius: 15px;
    border: 1px solid black;
    padding: .5rem;
    margin: 10px;
}

.game-over button:hover {
    cursor: pointer;
    background-color: chocolate;
}