.board {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 5vw;
    background-color: rgb(247, 197, 91);
    justify-content: space-around;
    padding: 1rem;
    border-radius: 15px;
}



.field {
    display: inline-flex;
    height: 100%;
}

@media (max-width: 720px) {
    .board{
        
        max-width: 450px;
        align-items: center;

    }
   .board section {
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-around;
   }
    .field {
        flex-direction: column;
    
      
        }
    
}

.game-over button {
    font-weight: bold;
    color: rgb(104, 34, 34);
    height: 2rem;
    width: auto;
    background-color: rgb(238, 145, 79);
    border-radius: 15px;
    border: 1px solid black;
    padding: .5rem;
    margin: 10px;
}

.game-over button:hover {
    cursor: pointer;
    background-color: chocolate;
}

