.stone {
  border: 1px solid black;
  background-color: brown;
  border-radius: 35px;
  padding: 2px;
  width: 1.5vw;
  height: 1.5vw ;
  margin: 2px;
animation: bump 600ms ease-out;
}

@keyframes bump {
0% {
  transform: scale(1);
}
10% {
  transform: scale(0.9);
}
30% {
  transform: scale(1.4);
}
50% {
  transform: scale(1.6);
}
80% {
    transform: scale(1.3);
}
100% {
  transform: scale(1);
}
}

@media (max-width: 720px) {
.stone {
  width: 1.5vh;
  height: 1.5vh;
}
}