/* Home.css */

/* Keyframes animation */
@keyframes wonderAnimation {
  0% {
    transform: translateY(-50px) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateY(0) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1);
    opacity: 1;
  }
}

/* Styles for the .home class */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to fill the entire viewport */
  width: 1500px;
  background-color: #001f3f; /* Dark blue background color */
}

/* Styles for the .box-layout class */
.box-layout {
  background-color: #f8f9fa; /* Background color for the box layout */
  padding: 20px; /* Padding around the form container */
  border-radius: 10px; /* Add border radius for a rounded look */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

/* Styles for the .form-container class */
.form-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the .form-row class */
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styles for the .input-label class */
.input-label {
  width: 180px; /* Adjust label width as needed */
  margin-right: 10px;
}

/* Styles for the .input-field and .select-field classes */
.input-field,
.select-field {
  flex: 1; /* Fill remaining space */
  padding: 10px;
  border-radius: 5px;
}

/* Styles for the .select-field class */
.select-field {
  border: 1px solid #ced4da; /* Add border to the select field */
}

.select-field:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color on focus */
}

/* Styles for the .submit-button class */
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Make buttons take up full width */
}

.submit-button:not(:last-child) {
  margin-bottom: 10px; /* Add margin between buttons */
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button.disabled {
  background-color: #ddd; /* Disabled background color */
  color: #666; /* Text color for disabled state */
  cursor: not-allowed; /* Cursor style for disabled state */
}

/* Apply the animation to an element */
.animated-element {
  animation: wonderAnimation 1.5s ease-in-out infinite alternate; /* Use the wonderAnimation with 1.5 second duration, ease-in-out timing function, infinite looping, and alternate direction */
}
